<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="ManagementProducts_Module">
<head>
    <title>Manage product</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/Styles/StyleSheet.css" rel="stylesheet" />
    <link href="/Frameworks/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet" />

    <script src="/Frameworks/jQuery/jquery-2.1.4.js"></script>
    <script src="/Frameworks/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="/Scripts/Template.js"></script>
    <script src="../../Frameworks/angular-1.4.5/angular.js"></script>
    <script src="../../Scripts/ManagementProducts.js"></script>
</head>
<body ng-controller="ManagementProducts_Controller as managementproducts_ctrl">
    <div id="header"></div> <!-- Template.js indsætter Template.html her -->

    <div id="content">
        <!-- MVC JavaScript opgave ----
             Opret forbindelse/hook imellem nedenstående felter, knap og det pågældende mvc javascript framework.
             -->
        <p>Name:</p>
        <p>
            <input id="txtName" type="text" class="inputs" ng-model="managementproducts_ctrl.product.Name" />
        </p>

        <p>
            Type:
        </p>
        <p>
            <!-- MVC JavaScript opgave ----
                 Nedenstående dropdown kommer fra produkttype tabellen, og data skal hentes ved at udføre
                 et HTTP GET REST kald til api/producttypes.
                 Dette kald håndteres af metoden "public List<ProductType> Get()" i /Controllers/ProductTypeController.cs -->
            <select ng-model="managementproducts_ctrl.product.TypeID">
                <option ng-repeat="producttypes in managementproducts_ctrl.producttypes" ng-selected="{{producttypes.ID==managementproducts_ctrl.product.TypeID}}" value="{{producttypes.ID}}">
                    {{producttypes.Name}}
                </option>
            </select>
        </p>
        <p>
            Price:
        </p>
        <p>
            <input id="txtPrice" type="text" class="inputs" ng-model="managementproducts_ctrl.product.Price" />
        </p>
        <p>
            Image:
        </p>
        <!-- MVC JavaScript opgave ----
             Nedenstående dropdown kommer fra produktbilledefilerne på serveren, og filnavne på disse hentes ved at udføre
             et HTTP GET REST kald til api/image.
             Dette kald håndteres af metoden "public List<string> Get()" i /Controllers/ImageController.cs -->
        <p>
            <select ng-model="managementproducts_ctrl.product.Image" ng-options="images for images in managementproducts_ctrl.images"></select>
        </p>
        <p>
            Description:
        </p>
        <p>
            <input id="txtDescription" type="text" class="inputs" ng-model="managementproducts_ctrl.product.Description" />
        </p>
        <!-- MVC JavaScript opgave ----
             Ved tryk på nednestående knap skal der sendes en HTTP post til /api/product med JSON dataet på formen
                {
                   "TypeID": 4,
                   "Name": "Fuel Filters",
                   "Price": 150.0,
                   "Description": "bla bla bla",
                   "Image": "Cylinder Heads.jpg"
               }
            I feltet lblResult skal der angives om det er gået godt eller ej -->
        <p>
            <input id="btnSubmit" type="button" value="Submit" class=" button" ng-click="managementproducts_ctrl.Submit()" />
        </p>
        <p>
            <div id="lblResult">{{managementproducts_ctrl.result}}</div>
        </p>
    </div>
</body>
</html>