@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>*@
        <div>
            <blockquote>
                <p>
                    "We know what we are, but not what we may be ."
                </p>
                <p>
                    <small>Abraham Lincoln</small>
                </p>
            </blockquote>
        </div>
    @*</body>
</html>*@
